@font-face {
  font-family: 'antonioregular';
  src: url('/assets/fonts/antonio-regular-webfont.eot');
  src: url('/assets/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/antonio-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/antonio-regular-webfont.woff') format('woff'),
  url('/assets/fonts/antonio-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background: #17181a;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  color: #dbdbe5;
}

img {
  max-width: 100%;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Source Sans Pro", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: .5em;
  margin-top: 30px;
}
header h1, header
h2, header
h3, header
h4, header
h5, header
h6 {
  margin-top: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.4em;
  color: #3d4851;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

hr {
  border: none;
  border-bottom: solid 1px #1c1d1f;
}

pre {
  overflow: auto;
}

code {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #f9f9f9;
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  display: block;
  padding: 20px 20px 20px 50px;
  background: #1c1d1f;
  margin-bottom: 10px;
}
blockquote:before {
  content: open-quote;
  position: absolute;
  font-size: 40px;
  color: #f9f9f9;
  text-shadow: 0 1px 0 black;
  line-height: 40px;
  left: 10px;
  top: 10px;
  font-family: 'Lily Script One', cursive;
}
blockquote > *:last-child {
  margin-bottom: 0;
}

label {
  width: 200px;
  float: left;
  font-family: "Oswald", "Source Sans Pro", sans-serif;
  color: white;
  padding: 7px 10px 7px 0;
  margin: 5px 0;
  text-transform: uppercase;
  font-size: .875em;
  clear: both;
}
label + * {
  float: left;
}

input,
textarea,
select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: inline-block;
  background: #1c1d1f;
  border: none;
  padding: 10px 14px;
  margin: 5px 0;
  width: 250px;
  max-width: 100%;
  color: #dbdbe5;
  outline: none;
  font-family: Arial, sans-serif;
}
input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus,
select:hover,
select:active,
select:focus {
  background-color: #1e1f22;
}

input[type=radio],
input[type=checkbox] {
  margin: 13px 0;
  height: 20px;
  width: 20px;
  padding: 0;
  cursor: pointer;
  border: solid 5px #1c1d1f;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
  background: #3d4851;
}

input[type=radio] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

textarea {
  width: 350px;
  min-height: 150px;
}

select {
  background-image: url("../img/select-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 40px;
  cursor: pointer;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: none;
  width: auto;
  margin: 5px 0;
}

#tantum-content .hljs {
  background: #f0f1f2;
  padding: 20px;
}

.transition, a, input,
textarea,
select, .button, button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.hidden {
  position: absolute;
  display: none;
  left: -9999px;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
}

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.container {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  display: block;
  float: left;
}
@media screen and (max-width: 767px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}

.col-offset-1 {
  margin-left: 25%;
}

.col-offset-2 {
  margin-left: 50%;
}

.col-offset-3 {
  margin-left: 75%;
}

@media screen and (max-width: 767px) {
  .col-offset-1,
  .col-offset-2,
  .col-offset-3 {
    margin-left: 0;
  }
}
.button, button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 10px 14px;
  line-height: 1.2em;
  background-color: black;
  color: #dbdbe5;
  text-decoration: none;
  cursor: pointer;
}
.button:hover, button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: #3d4851;
  color: #f9f9f9;
  text-decoration: none;
}
.button.accent, button.accent,
input.accent[type=button],
input.accent[type=reset],
input.accent[type=submit], button[type=submit] {
  background-color: #3d4851;
  color: #f9f9f9;
}
.button.accent:hover, button.accent:hover,
input.accent[type=button]:hover,
input.accent[type=reset]:hover,
input.accent[type=submit]:hover, button[type=submit]:hover {
  background-color: #272e34;
}

#tantum-header {
  position: relative;
  width: 100%;
  display: table;
  height: 30%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 20px;
}
#tantum-header[style] {
  -webkit-box-shadow: inset 0 -3000px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -3000px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -3000px 0 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}
#tantum-header > span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 10;
}
#tantum-header h1,
#tantum-header h3 {
  display: inline-block;
  color: #f9f9f9;
}
#tantum-header h1 {
  font-family: antonioregular, Oswald, "Source Sans Pro", sans-serif;
  font-size: 2.5em;
  padding-bottom: 6px;
  margin-bottom: 14px;
  text-transform: uppercase;
  border-bottom: solid 3px #f9f9f9;
}
#tantum-header h3 {
  position: relative;
  font-size: 1em;
  padding: 0;
}

#tantum-header .streaming button {
  background: transparent no-repeat 50% 50%;
  background-size: 100% 100%;
  display: inline-block;
  width: 51px;
  height: 50px;
  margin-right: 20px;
  margin-top: 10px;
}
#tantum-header .streaming .prev {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAyCAMAAADGIxO9AAAABGdBTUEAALGPC/xhBQAAAHtQTFRF/f398vLy8vLyzMzM+fn5y8vL+fn58vLy/Pz80dHR/Pz8/f399PT0////1dXV/Pz8/Pz8aGho/f39AAAAAAAAs7Oz+Pj49PT01dXV/////f395+fngICA/v7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////ehjajwAAACh0Uk5T4omHLbgst4W1J7Leh/crtLcW4AwKMriGKvbfVRL3CAcGCQQFAgEDAJxbwjUAAAC7SURBVEjH7ZTHDsMgEESd3oud4m5Mzf7/FwYwSeRDDFjJjb0MK+2T0OxA9PCvKDCBCczvGM557/DuvzOcCcY7VQcjwwwjQJgabTdbwqRkJ9kPM4ICFVzQapVDQ2mV5oCsTAuIkqbcAcDlWhZSGmFnMJ7NQdXtrgVbGQTxpNazYMSFiaBfLkwygomnvndTHiyWfh4Yr4vO68TJ69dO01rvdH+w7/STnWyts3M8W7MzJqNj3kL4QwITmP8yT8eofvMpPVYbAAAAAElFTkSuQmCC);
}
#tantum-header .streaming .next {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAyCAMAAADGIxO9AAAABGdBTUEAALGPC/xhBQAAAIFQTFRF/f398vLyzMzM8vLy+fn5y8vL+fn5/f391dXVs7Oz/Pz80tLS9PT0sbGx/Pz8/f398vLy9PT08vLy09PT/Pz81dXV/Pz8aGhoAAAAAAAA+Pj4/f39////5+fngICA/v7+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////Ti5OuwAAACp0Uk5T4okth7gst94qMrIohjG14IaHhSm0K7cWCgy43/ZVEvcIBwYJBAUCAQMAq/IZEQAAALlJREFUSMft1McOwjAMBuCyN2WP7pHYxu//gJBAUS8opoJbfPkbqZ8U2W6D2/cVeOONN78ziNiK1sNng0AE2IQ9AzoMqMO+IgA1X1TmbVCswGVKTjaZ1gUnu0wTkmZNDkMFM8fp5fqISVooXXLlNDWbimY2hv26FhvOX9E7cyk17wo6mFhumrsN5HeLVjbGI1EPTK/DZ69jYa/NTLd2pvlSOlNQp6PdnfVUvDtddrTLt+D/Id54819zB3I9ksUX3LPEAAAAAElFTkSuQmCC);
}

.content-title {
  text-align: center;
  margin-bottom: 50px;
}

#tantum-navigation {
  background: #1c1d1f;
  padding: 0 20px;
}
#tantum-navigation .container {
  padding: 0 20px;
  text-align: center;
  z-index: 10;
}
#tantum-navigation .container h1,
#tantum-navigation .container a {
  padding: 20px 0;
  margin: 0;
}
#tantum-navigation .container h1 {
  font-size: 16px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  #tantum-navigation .container h1 {
    text-align: center;
    padding-bottom: 0;
  }
}
#tantum-navigation .container h1 a {
  color: #f9f9f9;
  padding: 0;
}
#tantum-navigation .container a {
  display: inline-block;
  font-size: .875em;
  color: #dbdbe5;
}
#tantum-navigation .container a:hover {
  color: #f9f9f9;
  text-decoration: none;
}
#tantum-navigation .container a + a {
  margin-left: 20px;
}

#tantum-filter {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.4s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 0.4s ease-out 0.5s;
  -o-transition: all 0.4s ease-out 0.5s;
  transition: all 0.4s ease-out 0.5s;
  padding: 0 20px;
}
#tantum-filter .container {
  position: relative;
  padding: 0 20px 10px 20px;
  font-size: 14px;
  text-align: center;
}
#tantum-filter .container span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
  cursor: pointer;
  padding: 20px 0;
  color: #bdbdd0;
}
#tantum-filter .container span:hover, #tantum-filter .container span.active {
  color: #f9f9f9;
}
#tantum-filter .container span + span {
  margin-left: 20px;
}
#tantum-filter input {
  position: absolute;
  top: 12px;
  right: 0;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 26px 15px;
  padding-right: 40px;
  max-width: 25%;
}
#tantum-filter.visible {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 480px) {
  #tantum-filter {
    display: none !important;
  }
}

#tantum-content {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  padding: 0 20px;
  text-align: left;
}
.player-widgets {
  width: 1000px;
}
.player-widgets > iframe {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 20px;
  vertical-align: top;
}
.player-widgets > .no-left-margin {
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  .player-widgets {
    width: auto;
  }
  .player-widgets > iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .player-widgets > .no-left-margin {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.band-photos img {
  margin-top: 20px;
  width: 100%;
}

.social-icon img {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  margin-bottom: -3px;
}

.post-template #tantum-content + * {
  margin-top: 60px;
}

#tantum-pagination {
  padding: 60px 20px 0 20px;
}
#tantum-pagination .page-number {
  display: inline-block;
  text-align: center;
  line-height: 1.2em;
  padding: 10px;
}
#tantum-pagination .older-posts {
  text-align: right;
}
@media screen and (max-width: 767px) {
  #tantum-pagination .page-number {
    display: none;
  }
  #tantum-pagination .col-1 {
    width: 48%;
  }
  #tantum-pagination .older-posts {
    float: right;
  }
}

#tantum-footer {
  padding: 60px 20px;
}
#tantum-footer .container {
  border-top: solid 1px #1c1d1f;
  padding-top: 60px;
}
#tantum-footer .col-3 {
  color: #f9f9f9;
}
#tantum-footer .title {
  text-align: right;
  padding-right: 20px;
}
#tantum-footer .title + * {
  padding-top: 2px;
}
#tantum-footer h3 {
  margin-top: 0;
}
.home-template #tantum-footer .col-1,
.home-template #tantum-footer .col-3,
#tantum-footer .archive-template .col-1,
#tantum-footer .archive-template .col-3, .tag-template #tantum-footer .col-1,
.tag-template #tantum-footer .col-3 {
  float: none;
  width: 100%;
  text-align: center;
}
.post-template #tantum-footer {
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #tantum-footer,
  #tantum-footer .title {
    text-align: center;
  }
  #tantum-footer .col-1 {
    padding: 0;
  }
}
