<footer id="tantum-footer">
  <div class="container">
    <div class="col-4 title">
      <h3>
        <a target="_blank" title="Facebook" class="social-icon" href="https://facebook.com/nobroadcast"><img alt="facebook" src="/assets/img/facebook.png" /></a>
        <a target="_blank" title="YouTube" class="social-icon" href="https://youtube.com/nobroadcastnz"><img alt="youtube" src="/assets/img/youtube.png" /></a>
        <a target="_blank" title="iTunes" class="social-icon" href="https://itunes.apple.com/us/artist/no-broadcast/id664628201"><img alt="itunes" src="/assets/img/itunes.png" /></a>
        <a target="_blank" title="Soundcloud" class="social-icon" href="https://soundcloud.com/nobroadcast"><img alt="soundcloud" src="/assets/img/soundcloud.png" /></a>
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe</span></a>
      </h3>
    </div>
  </div>
</footer>
