<nav id="tantum-navigation">
  <div class="container">
    <div class="col-1"><h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1></div>
    <div class="col-2">
      <a href="/tour">Tour</a>
      <a href="/music">Music</a>
      <a href="/photos">Photos</a>
      <a href="/press">Press</a>
      <a href="/bio">Bio</a>
    </div>
  </div>
</nav>
